In [2]:
#MongoDB
from pymongo import MongoClient 
#Pandas
import pandas as pd
import numpy as np

In [3]:
#conexao ao banco
conn = MongoClient('localhost',27017)
db = conn.Ligas_futebol

In [4]:
#listando as cole√ßoes disponiveis
db.list_collection_names()

['Publico', 'Rodadas', 'score', 'Rank']

In [5]:
#seleciona collection
db_score = db['score']

In [6]:
#Cria o Dataframe
df_score = pd.DataFrame (list(db_score.find({})))

In [7]:
#Exclui campos e valores NAs
df_score.drop('_id',inplace=True,axis=1)
df_score.dropna(inplace=True)

In [8]:
df_score.count().isnull()

             False
Country      False
Liga         False
Player       False
Team         False
Temporada    False
ass          False
gols         False
points       False
rank         False
dtype: bool

In [9]:
df_score.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3949 entries, 0 to 3948
Data columns (total 10 columns):
             3949 non-null object
Country      3949 non-null object
Liga         3949 non-null object
Player       3949 non-null object
Team         3949 non-null object
Temporada    3949 non-null object
ass          3949 non-null object
gols         3949 non-null object
points       3949 non-null object
rank         3949 non-null object
dtypes: object(10)
memory usage: 339.4+ KB

In [10]:
#Verificando a quantidade de jogos por temporada e Liga
df_score.groupby(['Temporada','Liga']).count()

                               Country  Player  Team  ass  gols  points  rank
Temporada Liga
2015-2016 Bundesliga      304      304     304   304  304   304     304   304
          Laliga          326      326     326   326  326   326     326   326
          Premier_league  342      342     342   342  342   342     342   342
          SerieA          345      345     345   345  345   345     345   345
2016-2017 Bundesliga      303      303     303   303  303   303     303   303
          Laliga          359      359     359   359  359   359     359   359
          Premier_league  342      342     342   342  342   342     342   342
          SerieA          337      337     337   337  337   337     337   337
2017-2018 Bundesliga      307      307     307   307  307   307     307   307
          Laliga          338      338     338   338  338   338     338   338
          Premier_league  321      321     321   321  321   321     321   321
          SerieA          325      325     325   325  325   325     325   325

In [11]:
#alterando nome das variaveis
df_score.rename(columns={'Country':'Pais','Player':'Jogador','Team':'Time'},inplace=True)
#retirando variaveis desnecessarias
df_score.drop('points',axis =1 ,inplace =True)

In [12]:
df_score.head()

,,Pais,Liga,Jogador,Time,Temporada,ass,gols,rank
0,,England,Premier_league,Harry Kane,Tottenham Hotspur,2016-2017,7,29,1.
1,,Chile,Premier_league,Alexis S√°nchez,Arsenal FC,2016-2017,10,24,2.
2,,Belgium,Premier_league,Romelu Lukaku,Everton FC,2016-2017,6,25,3.
3,,Spain,Premier_league,Diego Costa,Chelsea FC,2016-2017,7,20,4.
4,,England,Premier_league,Dele Alli,Tottenham Hotspur,2016-2017,7,18,5.

In [13]:
#salva arquivo
df_score.to_csv('/media/sf_FormacaoCientistaDeDados/Portfolio/Dashboard/Data/artilheiros_final.csv')

NameError: name 'df_rodada' is not defined

## 1- Criar campo 'Temporada'
## 2- Criar Campo 'Liga'
## 3- Criar Cole√ß√£o 'Publico'
## 4- Unificar as ligas em um unico banco e 4 cole√ßoes