In [1]:
##Plotly
import plotly.offline as py
import plotly.graph_objs as go
py.init_notebook_mode(connected=True)
#MongoDB
from pymongo import MongoClient 
#Pandas
import pandas as pd
import numpy as np

In [2]:
#conexao ao banco
conn = MongoClient('localhost',27017)
db = conn.PremierLeague

In [3]:
#lista as collections
db.list_collection_names()

['Rodadas', 'score', 'Rank']

In [4]:
#seleciona collection
premier = db['Rank']

In [33]:
#Cria o Dataframe
df_premier = pd.DataFrame (list(premier.find({})))

In [34]:
#remove coluna 'id'
df_premier.drop('_id',inplace=True,axis=1)

In [35]:
#Tipos das variaveis
df_premier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 10 columns):
D         760 non-null object
Dif       760 non-null object
L         760 non-null object
M         760 non-null object
Pt        760 non-null object
Rodada    760 non-null int64
Team      760 non-null object
W         760 non-null object
goals     760 non-null object
rank      760 non-null object
dtypes: int64(1), object(9)
memory usage: 59.5+ KB

In [36]:
#verificando se ha valores nulos
df_premier.count().isnull()

D         False
Dif       False
L         False
M         False
Pt        False
Rodada    False
Team      False
W         False
goals     False
rank      False
dtype: bool

In [37]:
####################### Verifica se ha campos em branco

# 1- seleciona campos com tipo 'object'
colunas = df_premier.select_dtypes(include=['object']).columns
# 2- cria dicionario
campos_branco={}

# 3- loop para verficar campos com valores em branco
for col in colunas:
# Adiciona o resuktado ao  dicionario    
    campos_branco.update({col:df_premier.loc[df_premier[col] == ''][col].count()})

# 4- exibe o resultado
print(campos_branco)

{'D': 0, 'Dif': 0, 'L': 0, 'M': 0, 'Pt': 0, 'Team': 0, 'W': 0, 'goals': 0, 'rank': 12}

In [ ]:
campo_vazio=[]
col='Rodada'
campo_vazio.append(verif_campo(col,0,df_premier))
print(campo_vazio)

In [ ]:
#tratando a variavel "rank" (12 valores em branco), adicionando o valor do index 
df_premier['rank'] = np.where(df_premier['rank']=='',df_premier.index,df_premier['rank'])
df_premier.head(20)

In [40]:
#verifica o df novamente
df_premier.loc[df_premier['rank'] == '']['rank'].count()

0

In [41]:
#Renomear variaiveis
df_premier.rename(columns={'D':'Empates','Dif':'Saldo_gols','L':'Derrotas','M':'Jogos','Pt':'Pontos'
                          ,'Team':'Time','W':'Vitorias'},inplace=True)

In [20]:
df_premier.head(5)

,Empates,Saldo_gols,Derrotas,Jogos,Pontos,Rodada,Time,Vitorias,goals,rank
0,0,4,0,1,3,1,Manchester United,1,4:0,1
1,0,3,0,1,3,1,Huddersfield Town,1,3:0,2
2,0,2,0,1,3,1,Manchester City,1,2:0,3
3,0,2,0,1,3,1,Tottenham Hotspur,1,2:0,3
4,0,1,0,1,3,1,Arsenal FC,1,4:3,5

In [50]:
#Cria variaveis no df
#df_premier['goals'] = df_premier['goals'].str.split(':')
df_premier['Gols_pro'] = [vl[0] for vl in df_premier['goals'].str.split(':')]
df_premier['Gols_con'] = [vl[1] for vl in df_premier['goals'].str.split(':')]
#exclui variavel original
df_premier.drop('goals',inplace=True,axis=1)

In [57]:
#salva arquivo na pasta Data
df_premier.to_csv('/media/sf_FormacaoCientistaDeDados/Portfolio/Dashboard/Data/rank_premier.csv')