In [1]:
#Biblioteca usada para requisitar uma pagina web
import urllib.request

In [2]:
# Definimos a url
# Verifique as permissões em https://www.python.org/robots.txt
with urllib.request.urlopen("https://int.soccerway.com/national/england/premier-league/20182019/regular-season/r48730/") as url:
    page = url.read()

In [4]:
from bs4 import BeautifulSoup

In [5]:
# Analise o html na variável 'page' e armazene-o no formato Beautiful Soup
soup = BeautifulSoup(page, "html.parser")

In [6]:
soup.title

In [8]:
soup.title.string

'Summary - Premier League - England - Results, fixtures, tables and news - Soccerway'

In [9]:
table_ = soup.find('table')

In [ ]:
table_

In [ ]:
table_.find_all('tr')

In [13]:
cabecalho = []
rows = table_.find_all('tr')
for row in rows:
    #print ()
    for col in row.find_all('th'):
        print(col.string)
        print(type(col))
        cabecalho.append(col.get_text(strip = True))

Day
<class 'bs4.element.Tag'>
Date
<class 'bs4.element.Tag'>
Home team
<class 'bs4.element.Tag'>
Score/Time
<class 'bs4.element.Tag'>
Away team
<class 'bs4.element.Tag'>

<class 'bs4.element.Tag'>

In [153]:
cabecalho.pop()

''

In [ ]:
data_rows = table_.find_all('tr')
dia = []
data = []
timeA = []
Placar = []
timeC = []
for value in data_rows:
    #print (value.find_all('td'))
    #print(value.find_all('td', {'class' : "day no-repetition"}))
    if value.find_all('td', {'class' : "day no-repetition"}):
        
        print(value)
        #valor = value.find_all('td')
        
        dia.append(value.get_text(strip = True))
    if value.find_all('td', {'class' : 'date no-repetition'}):
        data.append(value.get_text(strip = True))
    if value.find_all('td', {'class' : 'team team-a '}):
        timeA.append(value.get_text(strip = True))
    if value.find_all('td', {'class' : 'score-time score'}):
        Placar.append(value.get_text(strip = True))
    if value.find_all('td', {'class' : 'team team-b '}):
        timeC.append(value.get_text(strip = True))

In [41]:
row.findAll('th')[1].getText()

'Day'

In [149]:
#https://stackoverflow.com/questions/14167352/beautifulsoup-html-csv
rows=[]
for row in table_.find_all('tr'):
    rows.append([val.get_text(strip = True) for val in row.find_all('td')][0:5])

In [150]:
rows[:][1:2]

[['Sat', '25/08/18', 'Wolverhampton …', '1 - 1', 'Manchester City']]

In [122]:
import pandas as pd

In [158]:
Premier_Ligue = pd.DataFrame(rows[1:], columns = cabecalho)

In [161]:
Premier_Ligue

   Day      Date          Home team Score/Time          Away team
0  Sat  25/08/18    Wolverhampton …      1 - 1    Manchester City
1  Sat  25/08/18    AFC Bournemouth      2 - 2            Everton
2  Sat  25/08/18            Arsenal      3 - 1    West Ham United
3  Sat  25/08/18  Huddersfield Town      0 - 0       Cardiff City
4  Sat  25/08/18        Southampton      1 - 2     Leicester City
5  Sat  25/08/18          Liverpool      1 - 0    Brighton & Hov…
6  Sun  26/08/18            Watford    14 : 30     Crystal Palace
7  Sun  26/08/18             Fulham    17 : 00            Burnley
8  Sun  26/08/18   Newcastle United    17 : 00            Chelsea
9  Mon  27/08/18  Manchester United    21 : 00  Tottenham Hotspur