In [42]:
#MongoDB
from pymongo import MongoClient 
#Pandas
import pandas as pd
import numpy as np

In [43]:
#conexao ao banco
conn = MongoClient('localhost',27017)
db = conn.Ligas_futebol

In [44]:
#listando as cole√ßoes disponiveis
db.list_collection_names()

['Publico', 'Rodadas', 'score', 'Rank']

In [45]:
#seleciona collection
db_rodada = db['Rodadas']

In [46]:
#Cria o Dataframe
df_rodada = pd.DataFrame (list(db_rodada.find({})))

In [47]:
#Exclui campos e valores NAs
df_rodada.drop('_id',inplace=True,axis=1)
df_rodada.dropna(inplace=True)

In [48]:
df_rodada.count().isnull()

Away         False
Data         False
Home         False
Hora         False
Liga         False
Placar       False
Rodada       False
Temporada    False
campo1       False
campo2       False
campo3       False
dtype: bool

In [49]:
df_rodada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4338 entries, 0 to 4337
Data columns (total 11 columns):
Away         4338 non-null object
Data         4338 non-null object
Home         4338 non-null object
Hora         4338 non-null object
Liga         4338 non-null object
Placar       4338 non-null object
Rodada       4338 non-null int64
Temporada    4338 non-null object
campo1       4338 non-null object
campo2       4338 non-null object
campo3       4338 non-null object
dtypes: int64(1), object(10)
memory usage: 406.7+ KB

In [50]:
#Verificando a quantidade de jogos por temporada e Liga
df_rodada.groupby(['Temporada','Liga']).count()

                          Away  Data  Home  Hora  Placar  Rodada  campo1  \
Temporada Liga
2015-2016 Bundesliga       306   306   306   306     306     306     306
          Laliga           380   380   380   380     380     380     380
          Premier_league   380   380   380   380     380     380     380
          SerieA           380   380   380   380     380     380     380
2016-2017 Bundesliga       306   306   306   306     306     306     306
          Laliga           380   380   380   380     380     380     380
          Premier_league   380   380   380   380     380     380     380
          SerieA           380   380   380   380     380     380     380
2017-2018 Bundesliga       306   306   306   306     306     306     306
          Laliga           380   380   380   380     380     380     380
          Premier_league   380   380   380   380     380     380     380
          SerieA           380   380   380   380     380     380     380

                          campo2  campo3
Temporada Liga
2015-2016 Bundesliga         306     306
          Laliga             380     380
          Premier_league     380     380
          SerieA             380     380
2016-2017 Bundesliga         306     306
          Laliga             380     380
          Premier_league     380     380
          SerieA             380     380
2017-2018 Bundesliga         306     306
          Laliga             380     380
          Premier_league     380     380
          SerieA             380     380

In [51]:
#Ordenando e retirando variaveis desnecessarias
df_rodada = df_rodada[['Home','Away','Placar','Liga','Rodada','Temporada']]
df_rodada.rename(columns={'Home':'Mandante','Away':'Visitante'},inplace=True)
df_rodada.head()

,Mandante,Visitante,Placar,Liga,Rodada,Temporada
0,Hull City,Leicester City,2:1,Premier_league,1,2016-2017
1,Burnley FC,Swansea City,0:1,Premier_league,1,2016-2017
2,Crystal Palace,West Bromwich Albion,0:1,Premier_league,1,2016-2017
3,Everton FC,Tottenham Hotspur,1:1,Premier_league,1,2016-2017
4,Middlesbrough FC,Stoke City,1:1,Premier_league,1,2016-2017

In [52]:
#corrigindo o valor da variavel
df_rodada.loc[2075,'Placar'] = '0:3'
#Separando a variavel 'Placar' em uma lista
df_rodada['gols'] = df_rodada['Placar'].str.split(':')

In [53]:
#Criando 4 variaveis 
df_rodada['Gols_mand']= pd.to_numeric(df_rodada['gols'].str[0])
df_rodada['Gols_visit']= pd.to_numeric(df_rodada['gols'].str[1])
df_rodada['Diff_gols'] = np.abs(df_rodada['Gols_mand']- df_rodada['Gols_visit'])
df_rodada['Num_gols'] = df_rodada['Gols_mand'] + df_rodada['Gols_visit']

In [54]:
#Cria variavel 'Ano_Inicio'
df_rodada['Ano_inicio'] = [ano[0] for ano in df_rodada['Temporada'].str.split('-')]
df_rodada['Ano_inicio'] = pd.to_numeric(df_rodada['Ano_inicio'])

In [55]:
#salva arquivo
df_rodada.to_csv('/media/sf_FormacaoCientistaDeDados/Portfolio/Dashboard/Data/jogos_final.csv')

## 1- Criar campo 'Temporada'
## 2- Criar Campo 'Liga'
## 3- Criar Cole√ß√£o 'Publico'
## 4- Unificar as ligas em um unico banco e 4 cole√ßoes