In [1]:
#MongoDB
from pymongo import MongoClient 
#Pandas
import pandas as pd
import numpy as np

In [26]:
#conexao ao banco
conn = MongoClient('localhost',27017)
db = conn.Ligas_futebol

In [27]:
#listando as cole√ßoes disponiveis
db.list_collection_names()

['Publico', 'Rodadas', 'score', 'Rank']

In [28]:
#seleciona collection
db_rank = db['Rank']

In [29]:
#Cria o Dataframe
df_rank = pd.DataFrame (list(db_rank.find({})))

In [30]:
#Exclui campos e valores NAs
df_rank.drop('_id',inplace=True,axis=1)
df_rank.dropna(inplace=True)

In [31]:
df_rank.count().isnull()

D            False
Dif          False
L            False
Liga         False
M            False
Pt           False
Rodada       False
Team         False
Temporada    False
W            False
goals        False
rank         False
dtype: bool

In [32]:
df_rank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8676 entries, 0 to 8675
Data columns (total 12 columns):
D            8676 non-null object
Dif          8676 non-null object
L            8676 non-null object
Liga         8676 non-null object
M            8676 non-null object
Pt           8676 non-null object
Rodada       8676 non-null int64
Team         8676 non-null object
Temporada    8676 non-null object
W            8676 non-null object
goals        8676 non-null object
rank         8676 non-null object
dtypes: int64(1), object(11)
memory usage: 881.2+ KB

In [33]:
#Verificando a quantidade de jogos por temporada e Liga
df_rank.groupby(['Temporada','Liga']).count()

                            D  Dif    L    M   Pt  Rodada  Team    W  goals  \
Temporada Liga
2015-2016 Bundesliga      612  612  612  612  612     612   612  612    612
          Laliga          760  760  760  760  760     760   760  760    760
          Premier_league  760  760  760  760  760     760   760  760    760
          SerieA          760  760  760  760  760     760   760  760    760
2016-2017 Bundesliga      612  612  612  612  612     612   612  612    612
          Laliga          760  760  760  760  760     760   760  760    760
          Premier_league  760  760  760  760  760     760   760  760    760
          SerieA          760  760  760  760  760     760   760  760    760
2017-2018 Bundesliga      612  612  612  612  612     612   612  612    612
          Laliga          760  760  760  760  760     760   760  760    760
          Premier_league  760  760  760  760  760     760   760  760    760
          SerieA          760  760  760  760  760     760   760  760    760

                          rank
Temporada Liga
2015-2016 Bundesliga       612
          Laliga           760
          Premier_league   760
          SerieA           760
2016-2017 Bundesliga       612
          Laliga           760
          Premier_league   760
          SerieA           760
2017-2018 Bundesliga       612
          Laliga           760
          Premier_league   760
          SerieA           760

In [34]:
#alterando nome das variaveis
df_rank.rename(columns={'Team':'Time','W':'Vitorias','L':'Derrotas','D':'Empates','Dif':'Saldo','Pt':'Pontos'},inplace=True)

In [35]:
#Cria variaveis no df
#df_premier['goals'] = df_premier['goals'].str.split(':')
df_rank['Gols_pro'] = [vl[0] for vl in df_rank['goals'].str.split(':')]
df_rank['Gols_con'] = [vl[1] for vl in df_rank['goals'].str.split(':')]
#exclui variavel original
df_rank.drop('goals',inplace=True,axis=1)

In [36]:
#Cria variavel 'Ano_Inicio'
df_rank['Ano_inicio'] = [ano[0] for ano in df_rank['Temporada'].str.split('-')]
df_rank['Ano_inicio'] = pd.to_numeric(df_rank['Ano_inicio'])

In [37]:
df_rank.head()

,Empates,Saldo,Derrotas,Liga,M,Pontos,Rodada,Time,Temporada,Vitorias,rank,Gols_pro,Gols_con,Ano_inicio
0,0,2,0,Premier_league,1,3,1,Manchester United,2016-2017,1,1,3,1,2016
1,0,1,0,Premier_league,1,3,1,Liverpool FC,2016-2017,1,2,4,3,2016
2,0,1,0,Premier_league,1,3,1,Chelsea FC,2016-2017,1,3,2,1,2016
3,0,1,0,Premier_league,1,3,1,Hull City,2016-2017,1,,2,1,2016
4,0,1,0,Premier_league,1,3,1,Manchester City,2016-2017,1,,2,1,2016

In [44]:
dict= {str('ano'): ano for ano in df_rank['Ano_inicio'].unique()}

In [75]:
[{'label':ano[0],'value': ano[1] }for ano in  df2.itertuples(index=False)]

[{'label': '2015-2016', 'value': 2015},
 {'label': '2016-2017', 'value': 2016},
 {'label': '2017-2018', 'value': 2017}]

In [73]:
df2 = df_rank[['Temporada','Ano_inicio']].drop_duplicates().sort_values(by='Ano_inicio')

In [38]:
#salva arquivo
df_rank.to_csv('/media/sf_FormacaoCientistaDeDados/Portfolio/Dashboard/Data/tabela_final.csv')

## 1- Criar campo 'Temporada'
## 2- Criar Campo 'Liga'
## 3- Criar Cole√ß√£o 'Publico'
## 4- Unificar as ligas em um unico banco e 4 cole√ßoes